@import '~normalize.css';
@import './utils.scss';

@font-face {
  font-family: PingFang SC;
  src: url('/PingFang.ttf')
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
  font-family: PingFang SC;
}

ul {
  list-style: none;
}

div {
  box-sizing: border-box;
}